@import url("/javascripts/piechart.js");
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

/* main page */

html {
    --image-info: url("https://images-na.ssl-images-amazon.com/images/I/61oqP3wQsiL._SX350_BO1,204,203,200_.jpg") no-repeat center center;
    --font: 'Bungee Inline', cursive;
}

.second-page {
    background-color: white;
}

.second-page-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
}

.product-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}

.product-image {
    background: var(--image-info);
    height: 230px;
    width: 230px;
    margin: 25px;
    border: 5px transparent solid;
}

.product-info {
    height: 230px;
    width: 230px;
    margin: 25px;
    border: 5px transparent solid;
}

.frame {
    width: 100%;
}

iframe {
    width: 60%;
    height: 200px;
    background-size: 0;
    frameBorder: 0;
}


/* main page end */


/* Pie Chart CSS */

.chart {
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
}

.pieTip {
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .97);
    color: #444;
    font-size: 19px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: all .3s;
    -moz-transform: all .3s;
    -ms-transform: all .3s;
    -o-transform: all .3s;
    transform: all .3s;
    pointer-events: none;
}

.pieTip:after {
    position: absolute;
    left: 50%;
    bottom: -6px;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, .95);
    line-height: 0;
}

.chart path {
    cursor: pointer;
}


/* Pie Chart CSS END */


/* Picture Frame CSS */

.images {
    min-height: 300px;
}

.image {
    background: url("http://i.dailymail.co.uk/i/pix/2014/09/11/1410404543313_wps_1_E6HXKC_Bottles_of_Coca_Co.jpg") no-repeat center center;
    background-size: cover;
}

.images .frame {
    margin: 20px 30px;
    display: inline-block;
    box-shadow: -1px -1px 30px white;
    height: 300px;
    width: 300px;
    padding: 5px 5px 50px;
}

.images .frame .image {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: auto;
}


/* Picture Frame CSS END */
